@font-face {
  font-family: "iconfont"; /* Project id 2184791 */
  src: url('//at.alicdn.com/t/font_2184791_eooof5ixpj7.woff2?t=1631002130813') format('woff2'),
       url('//at.alicdn.com/t/font_2184791_eooof5ixpj7.woff?t=1631002130813') format('woff'),
       url('//at.alicdn.com/t/font_2184791_eooof5ixpj7.ttf?t=1631002130813') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontext:before {
  content: "\e734";
}

.icondoc_plaintext:before {
  content: "\e64f";
}

.iconfuzhi:before {
  content: "\e62c";
}

.iconguanbi-yanjing:before {
  content: "\e6e3";
}

.icontupian:before {
  content: "\e60e";
}

.iconico:before {
  content: "\e605";
}

.iconweixinxiaochengxu:before {
  content: "\e668";
}

.icongouwuche:before {
  content: "\e602";
}

.iconyonghu3:before {
  content: "\e603";
}

.iconhuiyuan:before {
  content: "\e698";
}

.icontuodong:before {
  content: "\e884";
}

.iconmendian:before {
  content: "\e63c";
}

.icontrash:before {
  content: "\e600";
}

.iconbianji-copy:before {
  content: "\e601";
}

.iconjiayouzhan-fenxianghaoyou:before {
  content: "\e6d2";
}

.iconweizhi:before {
  content: "\e62d";
}

.iconsousuo2:before {
  content: "\e6a1";
}

.iconunfold:before {
  content: "\e661";
}

.iconback:before {
  content: "\e679";
}

.iconfold:before {
  content: "\e6de";
}

.iconhtmal5icon06:before {
  content: "\e622";
}

.iconuser:before {
  content: "\e623";
}

.iconroundleftfill:before {
  content: "\e799";
}

.iconxuanze:before {
  content: "\e68b";
}

.iconiconangledown:before {
  content: "\e639";
}

.iconbiaodan2:before {
  content: "\e716";
}

.iconbiaodanyemian:before {
  content: "\e7cc";
}

.iconmenu:before {
  content: "\e610";
}

.iconreview:before {
  content: "\e62f";
}

.iconiconangledown-copy:before {
  content: "\e656";
}

.icontuichu5:before {
  content: "\e650";
}

.icondownarrow:before {
  content: "\e62a";
}

.iconuparrow:before {
  content: "\e62b";
}

.iconmima1:before {
  content: "\e61b";
}

.iconyoujiantou:before {
  content: "\e6e0";
}

.iconsearch_light:before {
  content: "\e7dc";
}

.iconclose_light:before {
  content: "\e7df";
}

.iconadd_light:before {
  content: "\e7e0";
}

.iconback_light:before {
  content: "\e7e1";
}

.iconwenhao1:before {
  content: "\e665";
}

.iconwenhao:before {
  content: "\e611";
}

.iconbiaoge:before {
  content: "\e6ca";
}

.iconcaidan:before {
  content: "\e60c";
}

.iconxia--jiantou:before {
  content: "\e655";
}

.iconshang--jiantou:before {
  content: "\e659";
}

.iconjia:before {
  content: "\e624";
}

.iconduihao:before {
  content: "\e604";
}

.iconzhifubaozhifu-:before {
  content: "\e7d0";
}

.iconxitongshezhi:before {
  content: "\e730";
}

.iconincrease:before {
  content: "\e69f";
}

.iconcaidan-:before {
  content: "\e62e";
}

.iconduihao1:before {
  content: "\e630";
}

.iconbackspace:before {
  content: "\e612";
}

.iconshenglvehao:before {
  content: "\e708";
}

.icongantanhao:before {
  content: "\e710";
}

.iconweixinzhifu:before {
  content: "\e609";
}

.iconshanchu:before {
  content: "\e8b6";
}

.iconseleted:before {
  content: "\e763";
}

.iconsousuo:before {
  content: "\e614";
}

.iconjia2:before {
  content: "\e632";
}
