.layui-layout-admin .layui-body {
    display: flex;
    flex-direction: column;
}
.layui-layout-admin .layui-body .footer {
    display: none;
}
.layui-layout-admin .layui-body .body-content {
    background: none;
    flex: 1;
    height: 0;
    padding: 0;
    margin: 0;
}
.layui-layout-admin .layui-body .diy-view {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.body-content .footer-wrap {
    background: #fff;
    text-align: center;
    padding: 15px 400px 15px 15px;
}
.body-content .diy-wrap {
    flex: 1;
    height: 0;
    display: flex;
}
.body-content .diy-wrap .preview-wrap {
    flex: 1;
    width: 0;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}
.body-content .phone-wrap  {
    width: 375px;
    height: 100%;
    background: #f3f3f3;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    border: 1px solid #ddd;
}
.body-content .preview-head{
    position: fixed;
    width: 375px;
    height: 64px;
    z-index: 5;
}
.body-content .preview-head img {
    width: 375px;
    height: 64px;
}
.body-content .phone-wrap::-webkit-scrollbar{
    display: none;
}
.body-content .component-wrap {
    position: relative;
}
.body-content .component-wrap .selected-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    box-sizing: border-box;
    cursor: pointer;
    pointer-events: none;
}
.body-content .component-wrap:hover .selected-area  {
    display: block;
    border: 2px dashed var(--base-color);
}
.body-content .component-wrap.curr .selected-area  {
    display: block;
    border: 2px solid var(--base-color);
}
.body-content .diy-wrap .edit-wrap {
    width: 380px;
    background: #fff;
    padding: 10px;
    overflow-y: scroll;
}
.body-content .diy-wrap .edit-wrap::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0);
}
.body-content .diy-wrap .edit-wrap::-webkit-scrollbar-button {
    display: none;
}
.body-content .diy-wrap .edit-wrap::-webkit-scrollbar-thumb {
    border-radius: 3px;
    box-shadow: inset 0 0 3px rgba(45, 43, 43, 0.45);
    background-color: #ddd;
}
.body-content .diy-wrap .edit-wrap::-webkit-scrollbar-track {
    background-color: transparent;
}
.body-content .edit-wrap .edit-title{
    padding: 10px 12px 15px;
    border-bottom: 2px solid #f2f4f6;
    margin-bottom: 10px;
    color: #303133;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit-wrap .edit-title > span:first-child {
    font-size: 18px;
    flex: 1;
    width: 0;
}
.edit-wrap .edit-title .tab-wrap {
    display: flex;
    background-color: #f5f5f5;
    border-radius: 50px;
    font-size: 14px;
}
.edit-wrap .tab-wrap .tab-item {
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 50px;
}
.edit-wrap .tab-wrap .active {
    background: var(--base-color);
    color: #fff;
}
.body-content .edit-wrap .group-title {
    padding: 10px;
}
.body-content .edit-wrap .slide-wrap {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.body-content .slide-wrap > div {
    flex: 1;
}
.body-content .edit-wrap .color-wrap {
    display: flex;
    align-items: center;
}
.body-content .color-wrap .color-text {
    flex: 1;
    width: 0;
}
.body-content .color-text span {
    margin-right: 5px;
}
.body-content .color-wrap .color-box {
    border: 1px solid #d7d7d7;
    cursor: pointer;
    margin-left: 10px;
    padding: 2px;
    border-radius: 2px;
}
.body-content .color-wrap .reset {
    margin-left: 10px;
}
.body-content .color-box > div {
    height: 16px;
    width: 34px;
}
.flexbox-fix-btn .btn {
    margin: 0px;
    line-height: 18px;
    font-size: 12px;
}

/* 选择图标风格 */
.select-icon-style {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 9999;
}
.select-icon-style .icon-style-wrap {
    position: absolute;
    background: #fff;
    border: 1px solid #ddd;
    right: 40px;
    margin-top: 15px;
}
.select-icon-style .icon-style-wrap iframe {
    width: 100%;
    height: 100%;
}

.img-upload, .upload-img-block {
    width: 60px;
    height: 60px;
    padding: 0;
}
.upload-img-block .upload-img-box .add {
    font-size: 26px;
    color: var(--base-color);
}
.upload-img-block .operation i {
    font-size: 16px!important;
    margin: 0 2px!important;
    line-height: 1;
}
.upload-img-block .operation > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 20px);
}


.select-url {
    background: #fff;
    height: 32px;
    cursor: pointer;
    display: flex;
    align-items: end;
    color: #666;
}
.select-url .text {
    flex: 1;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    text-align: right;
    color: #000;
}
.select-url .layui-icon {
    font-size: 12px;
    margin-top: 1px;
}