{extend name="base"/}
{block name="resources"}
<style>
	.ns-card-brief:nth-child(1) {
		margin-top: 0;
	}

	.layui-card-body {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 0 !important;
		padding-left: 50px !important;
		padding-right: 50px !important;
	}
	

	.layui-card-body .content {
		width: 33.3%;
		margin-bottom: 42px;
		display: flex;
		/* flex-wrap: wrap;
		flex-direction: column;
		justify-content: center; */
		align-items: center;
	}
	
	.layui-card-body .content .img-wrap {
		width: 46px;
		height: 46px;
		margin-right: 20px;
	}
	
	.layui-card-body .content .con-wrap .title {
		color: #333333;
		line-height: 1;
	}
	
	.layui-card-body .content .con-wrap .money {
		font-size: 20px;
		line-height: 1;
		color: #333333;
		font-weight: bold;
		margin-top: 13px;
		max-width: 250px;
	}

	/* .layui-card-body .money {
		font-size: 20px;
		color: #000;
		font-weight: bold;
		margin-top: 10px;
		max-width: 250px;
	} */

	.layui-card-body .subhead {
		font-size: 12px;
		margin-left: 3px;
		cursor: pointer;
	}

	.ns-prompt-box .ns-prompt-con {
		text-align: center;
	}
</style>
{/block}
{block name="main"}
<div class="layui-card ns-card-common ns-card-brief">
	<div class="layui-card-header">
		<div>
			<span class="ns-card-title">订单概况</span>
		</div>
	</div>
	<div class="layui-card-body">
		<div class="content">
			<div class="img-wrap">
				<img src="SHOP_IMG/account/icon1.png" />
			</div>
			<div class="con-wrap">
				<div class="title ns-prompt-block">订单总额（元）
					<div class="ns-prompt">
						<i class="iconfont iconwenhao1 required ns-growth"></i>
						<div class="ns-growth-box ns-reason-box ns-reason-growth ns-prompt-box">
							<div class="ns-prompt-con">
								所有订单实付金额总和(包含已退款金额)
							</div>
						</div>
					</div>
				</div>
				<p class="money" id="order_total_money">0.00</p>
			</div>
		</div>
		<div class="content">
			<div class="img-wrap">
				<img src="SHOP_IMG/account/icon2.png" />
			</div>
			<div class="con-wrap">
				<div class="title ns-prompt-block">退款订单总额（元）
					<div class="ns-prompt">
						<i class="iconfont iconwenhao1"></i>
						<div class="ns-prompt-box">
							<div class="ns-prompt-con">
								所有订单已退款金额总和
							</div>
						</div>
					</div>
				</div>
				<p class="money" id="refund_total_money">0.00</p>
			</div>
		</div>
		<div class="content">
			<div class="img-wrap">
				<img src="SHOP_IMG/account/icon3.png" />
			</div>
			<div class="con-wrap">
				<div class="title ns-prompt-block">订单总数 
					<div class="ns-prompt">
						<i class="iconfont iconwenhao1"></i>
						<div class="ns-prompt-box">
							<div class="ns-prompt-con">
								所有订单的总和(包含已退款订单)
							</div>
						</div>
					</div>
				</div>
				<p class="money" id="order_total_count">0</p>
			</div>
		</div>
		<div class="content">
			<div class="img-wrap">
				<img src="SHOP_IMG/account/icon4.png" />
			</div>
			<div class="con-wrap">
				<div class="title ns-prompt-block">退款订单总数
					<div class="ns-prompt">
						<i class="iconfont iconwenhao1"></i>
						<div class="ns-prompt-box">
							<div class="ns-prompt-con">
								所有退款订单总和
							</div>
						</div>
					</div>
				</div>
				<p class="money" id="refund_total_count">0</p>
			</div>
		</div>
	</div>
</div>

{if $is_addon_fenxiao == 1}
<div class="layui-card ns-card-common ns-card-brief">
	<div class="layui-card-header">
		<div>
			<span class="ns-card-title">分销概况</span>
		</div>
	</div>
	<div class="layui-card-body">

		<div class="content">
			<div class="img-wrap">
				<img src="SHOP_IMG/account/icon5.png" />
			</div>
			
			<div class="con-wrap">
				<div class="title ns-prompt-block">
					分销订单总金额（元）
					<div class="ns-prompt">
						<i class="iconfont iconwenhao1"></i>
						<div class="ns-prompt-box">
							<div class="ns-prompt-con">
							指所有分销订单实付金额的和 (包含退款)
							</div>
						</div>
					</div>
				</div>
				<p class="money" id="fenxiao_order_money_real_goods_money">0.00</p>
			</div>
		</div>
		<div class="content">
			<div class="img-wrap">
				<img src="SHOP_IMG/account/icon6.png" />
			</div>
			
			<div class="con-wrap">
				<div class="title ns-prompt-block">
					分销总佣金（元）
					<div class="ns-prompt">
						<i class="iconfont iconwenhao1"></i>
						<div class="ns-prompt-box">
							<div class="ns-prompt-con">
								指所有分销订单所得佣金的和
							</div>
						</div>
					</div>
				</div>
				<p class="money" id="fenxiao_account">0.00</p>
			</div>
		</div>
		<div class="content">
			<div class="img-wrap">
				<img src="SHOP_IMG/account/icon7.png" />
			</div>
			
			<div class="con-wrap">
				<div class="title ns-prompt-block">
					提现中佣金（元）
					<div class="ns-prompt">
						<i class="iconfont iconwenhao1"></i>
						<div class="ns-prompt-box">
							<div class="ns-prompt-con">
								分销商提现待审核佣金统计
							</div>
						</div>
					</div>
				</div>
				<p class="money" id="account_data_account_withdraw_apply">0.00</p>
			</div>
		</div>
		<div class="content">
			<div class="img-wrap">
				<img src="SHOP_IMG/account/icon8.png" />
			</div>
			
			<div class="con-wrap">
				<div class="title ns-prompt-block">
					已提现佣金（元）
					<div class="ns-prompt">
						<i class="iconfont iconwenhao1"></i>
						<div class="ns-prompt-box">
							<div class="ns-prompt-con">
								分销商已提现的佣金统计
							</div>
						</div>
					</div>
				</div>
				<p class="money" id="account_data_account_withdraw">0.00</p>
			</div>
		</div>
	</div>
</div>
{/if}

<div class="layui-card ns-card-common ns-card-brief">
	<div class="layui-card-header">
		<div>
			<span class="ns-card-title">会员概况</span>
		</div>
	</div>
	<div class="layui-card-body">
		{if $is_memberwithdraw == 1}
		<div class="content">
			<div class="img-wrap">
				<img src="SHOP_IMG/account/icon9.png" />
			</div>
			
			<div class="con-wrap">
				<div class="title ns-prompt-block">会员可提现余额（元）
					<div class="ns-prompt">
						<i class="iconfont iconwenhao1"></i>
						<div class="ns-prompt-box">
							<div class="ns-prompt-con">
								会员可以提现的金额总和
							</div>
						</div>
					</div>
				</div>
				<p class="money" id="member_balance_sum_balance_money">0.00</p>
			</div>
		</div>
		<div class="content">
			<div class="img-wrap">
				<img src="SHOP_IMG/account/icon10.png" />
			</div>
			
			<div class="con-wrap">
				<div class="title ns-prompt-block">会员已提现余额（元）
					<div class="ns-prompt">
						<i class="iconfont iconwenhao1"></i>
						<div class="ns-prompt-box">
							<div class="ns-prompt-con">
								会员已经提现的金额总和
							</div>
						</div>
					</div>
				</div>
				<p class="money" id="member_balance_sum_balance_withdraw">0.00</p>
			</div>
		</div>
		<div class="content">
			<div class="img-wrap">
				<img src="SHOP_IMG/account/icon11.png" />
			</div>
			
			<div class="con-wrap">
				<div class="title ns-prompt-block">会员提现中余额（元）
					<div class="ns-prompt">
						<i class="iconfont iconwenhao1"></i>
						<div class="ns-prompt-box">
							<div class="ns-prompt-con">
								会员提现待审核的金额总和
							</div>
						</div>
					</div>
				</div>
				<p class="money" id="member_balance_sum_balance_withdraw_apply">0.00</p>
			</div>
		</div>
		<div class="content">
			<div class="img-wrap">
				<img src="SHOP_IMG/account/icon12.png" />
			</div>
			
			<div class="con-wrap">
				<div class="title ns-prompt-block">不可提现余额（元）
					<div class="ns-prompt">
						<i class="iconfont iconwenhao1"></i>
						<div class="ns-prompt-box">
							<div class="ns-prompt-con">
								会员不可以提现的金额总和
							</div>
						</div>
					</div>
				</div>
				<p class="money" id="member_balance_sum_balance">0.00</p>
			</div>
		</div>

		{else /}
		<div class="content">
			<div class="img-wrap">
				<img src="SHOP_IMG/account/icon9.png" />
			</div>
			
			<div class="con-wrap">
				<p class="title">会员总余额（元）</p>
				<p class="money" id="member_balance">0.00</p>
			</div>
		</div>
		{/if}

	</div>
</div>

{/block}
{block name="script"}
<script>
	// 订单概况
	orderSum();
	// 分销概况
	fenXiaoSum();
	// 会员概况
	memberSum();

	// 订单概况
	function orderSum() {
		$.ajax({
			type:'post',
			dataType:'json',
			url:ns.url('shop/account/orderSum'),
			success:function(order){
				$('#order_total_count').html(order.order_total_count);
				$('#order_total_money').html(order.order_total_money);
				$('#refund_total_count').html(order.refund_total_count);
				$('#refund_total_money').html(order.refund_total_money);
			}
		})
	}
	// 分销概况
	function fenXiaoSum() {
		$.ajax({
			type:'post',
			dataType:'json',
			url:ns.url('shop/account/fenXiaoSum'),
			success:function(fenxiao){
				$('#fenxiao_order_money_real_goods_money').html(fenxiao.fenxiao_order_money.real_goods_money);
				$('#fenxiao_account').html(fenxiao.fenxiao_account);
				$('#account_data_account_withdraw_apply').html(fenxiao.account_data.account_withdraw_apply);
				$('#account_data_account_withdraw').html(fenxiao.account_data.account_withdraw);
			}
		})
	}
	// 会员概况
	function memberSum() {
		$.ajax({
			type:'post',
			dataType:'json',
			url:ns.url('shop/account/memberSum'),
			success:function(member){
				$('#member_balance_sum_balance_money').html(member.member_balance_sum.balance_money);
				$('#member_balance_sum_balance_withdraw').html(member.member_balance_sum.balance_withdraw);
				$('#member_balance_sum_balance_withdraw_apply').html(member.member_balance_sum.balance_withdraw_apply);
				$('#member_balance_sum_balance').html(member.member_balance_sum.balance);
				$('#member_balance').html(member.member_balance);
			}
		})
	}
	
</script>
{/block}
