.container {
	width: 100vw;
	height: calc(100vh - var(--tab-bar-height, 0)); 
	background: $color-bg;
}
.common-wrap {
	width: 100%;
	box-sizing: border-box;
}
// 会员信息
.member-info {
	// #ifdef MP
    padding-top: 108rpx;
	// #endif
	
    .info-wrap {
        padding: 44rpx 30rpx;
        display: flex;
        align-items: center;
		view {
			color: var(--btn-text-color);
		}
        .info {
            flex: 1;
            width: 0;
            padding-right: 20rpx;
            overflow: hidden;
        }
    }
    .headimg {
        width: 120rpx;
        height: 120rpx;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 20rpx;
        image {
            width: 100%;
        }
    }
    .nickname {
        font-weight: bold;
        white-space: nowrap;
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }
    .name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
		font-size: 38rpx;
		font-weight: 600;
    }
	.mobile {
		font-size: 26rpx;
		line-height: 1.5;
	}
    .desc {
        font-size: 24rpx;
    }
    .member-code, .user-info {
        font-size: 40rpx;
		color: #fff;
		margin-left: 20rpx;
		line-height: 1;
		color: var(--btn-text-color);
    }
    .member-level {
        font-size: 24rpx;
        background: linear-gradient(107deg, #7c7878 0%, #201a18 100%);
        color: #f7c774;
        line-height: 40rpx;
        height: 40rpx;
        border-radius: 4rpx;
        padding: 0 16rpx;
        display: inline-block;
        margin-left: 20rpx;
        .icondiy {
			line-height: 1;
            font-size: 24rpx;
            margin-right: 10rpx;
        }
		&.auth {
			margin-left: 0;
		}
    }
    .super-member {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 120rpx;
        border-top-left-radius: 10rpx;
        border-top-right-radius: 10rpx;
        background: linear-gradient(107deg, #7c7878 0%, #201a18 100%);
        padding: 30rpx 40rpx;
        box-sizing: border-box;
		
		text {
			// color: #fff;
		}
		.icon-huangguan {
			margin-right: 10rpx;
			font-size: 40rpx;
		}
        .super-info {
            flex: 1;
            width: 0;
            font-size: 36rpx;
		    color: var(--super-member-start-text-color);
			// background-image: linear-gradient(90deg, var(--super-member-start-text-color) 0%, var(--super-member-end-text-color) 100%);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
			display: flex;
			align-items: center;
        }
		
        .see {
            line-height: 1;
			font-size: 30rpx;
        }
		.iconright {
			font-size: 28rpx;
			margin-left: 10rpx;
		}
    }
}
.account-info {
    display: flex;
    padding: 40rpx 0;
    align-items: center;
    justify-content: center;
	view {
		color: #fff;
	}
    .solid {
        height: 70rpx;
        width: 2rpx;
        background: #fff;
        border-radius: 2rpx;
    }
	
	.account-item {
	    flex: 1;
	    text-align: center;
	    .value {
	        font-size: 34rpx;
	        font-weight: bold;
	        margin-bottom: 4rpx;
			line-height: 1.3;
	    }
	    .title {
	        font-size: 26rpx;
	    }
	}
}
.info-wrap[data-style="1"] {
	.super-text{
		background-image: linear-gradient(90deg, #ffdba6 0%, #ffebca 49%, #f7c774 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		display: flex;
		align-items: center;
	}
}

.info-wrap[data-style="2"] {
    .member-info {
        border-radius: 0 0 100% 100%/0 0 70rpx 70rpx;
        overflow: hidden;
		
		.member-level {
		    background: linear-gradient(107deg, #FADCB5 0%, #F6BD74 100%);
		    color: #8D4B16;
		}
    }
    .account-info {
        background: #fff;
        margin: 20rpx 0 0 0;
        color: #333;
        border-radius: 18rpx;
        .solid {
            background: #f2f2f2;
        }
        .account-item {
			.value {
				color: #000000;
			}
            .title {
                color: #666666;
            }
        }
    }
    .super-member {
        color: #8d4b16;
        background: linear-gradient(107deg, #fadcb5 0%, #f6bd74 100%);
		border-top-left-radius: 18rpx;
		border-top-right-radius: 18rpx;
        .super-info {
		    color: var(--super-member-start-text-color);
            // background-image: linear-gradient(90deg, var(--super-member-start-text-color) 0%, var(--super-member-end-text-color) 100%);
        }
		.see {
		    color: var(--super-member-start-text-color);
		}
		.iconright {
			color: var(--super-member-start-text-color);
		}
    }
}

.order-wrap {
    background: #fff;
    .status-wrap {
        display: flex;
        padding: 30rpx 0;
        align-items: center;
        justify-content: center;
        color: #333;
    }
    .item-wrap {
        flex: 1;
        text-align: center;
        .icon-block {
            width: 60rpx;
            height: 60rpx;
            font-size: 60rpx;
            margin: 4rpx auto;
			position: relative;
        }
		.order-num {
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(50%,-50%);
			display: inline-block;
			box-sizing: border-box;
			color: #FFFFFF;
			line-height: 1.2;
			text-align: center;
			font-size: 24rpx;
			padding: 0 6rpx;
			min-width: 30rpx;
			border-radius: 16rpx;
			height: 30rpx;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}
        .title {
            font-size: 26rpx;
        }
    }
    .head-wrap {
        display: flex;
        padding: 15px 0;
        margin: 0 30rpx;
        align-items: center;
        border-bottom: 2rpx solid #eeeeee;
        .title {
            flex: 1;
            width: 0;
            font-size: 34rpx;
            font-weight: bold;
        }
        .see,.iconright {
            line-height: 1;
            color: #999;
        }
		.iconright {
			font-size: 28rpx;
			margin-left: 10rpx;
		}
    }
}

.menu-wrap {
  background: #fff;
  .head-wrap {
    display: flex;
    padding: 30rpx 0;
    margin: 0 30rpx;
    align-items: center;
    .title {
      flex: 1;
      width: 0;
      font-size: 34rpx;
      font-weight: bold;
    }
  }
  .menu-list {
    display: flex;
    padding-bottom: 30rpx;
    color: #333;
    flex-wrap: wrap;
  }
  .item-wrap {
    width: 25%;
    padding: 10rpx 20rpx;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon {
      width: 60rpx;
      height: 60rpx;
    }
    .icon-block {
      width: inherit;
      height: inherit;
      font-size: 60rpx;
    }
    .title {
      font-size: 26rpx;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-top: 12rpx;
      width: 100%;
      text-align: center;
    }
  }
  .icon {
    image {
      width: 100%;
      height: auto;
    }
  }
}
[menu-type="list"] {
  .item-wrap {
    width: 100%;
    flex-direction: row;
    padding: 20rpx 30rpx;
    .title {
      flex: 1;
      margin-top: 0;
      text-align: left;
      padding: 0 20rpx;
      line-height: 1;
    }
  }
}

.adv-wrap {
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	
	.swiper-wrap {
		width: 100%;
		height: 100%;
	}
	
	.swiper-item {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		
		image {
			width: 100%;
		}
	}
}

.member-code-popup {
	width:100%;
	min-height:900rpx;
	background:none;
	.popup-top{
		padding:40rpx;
		box-sizing: border-box;
		width: 100%;
		height: 800rpx;
		background:#FFFFFF;
		border-radius:12rpx;
		.popup-top-title{
			display: flex;
			align-items: center;
			margin-bottom: 60rpx;
			.popup-top-title-txt{
				font-size: 30rpx;
				margin-left: 16rpx;
			}
		}
		.popup-top-tiao{
			width: 480rpx;
			height: 160rpx;
			margin: 0 auto 46rpx;
			image{
				width: 100%;
				height: 100%;
			}
		}
		.popup-top-tiaoJie{
			text-align: center;
			font-size: 28rpx;
			color:rgb(153,153,153);
			margin-bottom: 40rpx;
		}
		.popup-top-erwei{
			width: 254rpx;
			height:254rpx;
			margin:0 auto 20rpx;
			image{
				width: 100%;
				height: 100%;
			}
		}
		.popup-top-shauxin{
			width: 350rpx;
			height: 80rpx;
			border-radius: $border-radius;
			background:rgb(245,249,247);
			margin: 0 auto;
			font-size: 30rpx;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
			i{
				margin-left: 20rpx;
			}
		}
		.popup-top-text{
			text-align: center;
			font-size:18rpx;
			color:rgb(153,153,153);
			margin-top:30rpx;
		}
		
	}
    .popup-bottom{
		display: flex;
		align-items: center;
		justify-content: center;
		background:none !important;
		.iconfont-delect{
			font-size:60rpx;
			margin-top: 20rpx;
			color: white;
		}
	}
}

/deep/ .uni-popup__wrapper.uni-custom .uni-popup__wrapper-box{
	background:none !important;
}

.member-code-popup .popup-top{
	height: auto;
}