
{block name="resources"}
<style>
	.ns-input-text span{margin-right: 15px;}
	.ns-form {magin-top: 0; position: relative;}
	.layui-form-item.top .layui-form-label{text-align: left;font-weight: bold;padding-left: 15px;}
	.layui-form-item.top .border-left{border-left: 3px solid;padding-right: 5px;}
	.radio-disabled{disabled:disabled;}
	.top-color{color: red;}
	.layui-unselect.layui-form-radio.layui-form-radioed.layui-radio-disbaled i:after{background:#eee !important;}
	.examples {color: #ff8833; cursor: pointer; margin-left: 15px;}
	.service-box .box .layui-form-label{width: 196px !important;height: 38px;line-height: 38px;}
	.service-box .box .href{padding-left: 28px;line-height: 1;}
	.service-box .serviceOperation{display: flex;align-items: center;margin: 20px 0;}
	.service-box .serviceOperation .service-box-item{margin:0 120px 0 56px;color: #333;line-height: 1;}
	.service-popup-box .layui-form-label{width: 124px;}
	.service-popup-box .ns-word-aux{margin-left: 124px;}
	.service-popup-box .all-box-left{margin-left: 124px;}
	.serviceOperation-niushop{height: 75px;line-height: 75px;margin-bottom: 0;}
	.serviceOperation-niushop .service-box-item{margin-left: 48px;color: #333333;}
	.service-box .box .top {margin-bottom: 0;}
	.service-box{padding-bottom: 40px;}
	.ns-len-long{width: 399px !important;}
</style>
{/block}
{block name="main"}
<div class="shop-information service-box">
	<div class="main-title">
		<div class="title">客服设置</div>
		<span class="ns-text-color" onclick="editService()">编辑</span>
	</div>
	<div class="box">
		<div class="layui-form-item top">
			<p class="layui-form-label">统一设置</label>
		</div>
		<div class="layui-form-item serviceOperation-niushop">
			<p class="service-box-item">Niushop客服：
			{if !empty($config.system) && $config.system == 1}
				<span class="">启用</span>
			{else/}
				<span class="">不启用</span>
			{/if}</p>

		</div>
		{if $config.system != 1}
		<div class="layui-form-item top">
			<label class="layui-form-label">其他设置</label>
		</div>
		<div class="layui-input-block">
			<div class="serviceOperation">
				<p class="service-box-item">
					小程序客服：
					{if condition="!empty($config.weapp) && $config.weapp == 1"} <a class="">启用</a> {else/}<a class="">不启用</a>{/if}
				</p>
				<p class="service-box-item">
					H5客服：
					{if condition="!empty($config.open) && $config.open == 1"} <a class="">启用</a> {else/}<a class="">不启用</a> {/if}
					
				</p>
				<p class="service-box-item">
					商家端客服：
					{if condition="!empty($config.open_pc) && $config.open_pc == 1"}<a class="">启用</a> {else/}<a class="">不启用</a>{/if}
				</p>
			</div>
			<div class="href">
				<a>第三方客服链接</a>：{if !empty($config.open_url)}<a class="ns-text-color" href="{$config.open_url}" target="_blank">{$config.open_url}</a>{else/}暂未设置{/if}
			</div>
		</div>
		{/if}
	</div>
</div>

{/block}
{block name="script"}
<script type="text/html" id="contentService">
	<div class="layui-form ns-form service-popup-box">
		{if addon_is_exit('servicer')}
		<div class="layui-form-item top">
			<label class="layui-form-label"><span class="border-left ns-border-color"></span>统一设置</label>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">Niushop客服：</label>
			<div class="layui-input-block">
				<input type="radio" name="system" lay-filter="oneRadio" value="1" title="启用" {if condition="!empty($config.system) && $config.system == 1"} checked {/if}>
				<input type="radio" name="system" lay-filter="oneRadio" value="0" title="不启用" {if condition="empty($config.system) || $config.system != 1"} checked  {/if}>
			</div>
			<div class="ns-word-aux">适用于各端，需开启Workerman服务进行使用，配置服务请查看<a href="https://www.kancloud.cn/niucloud/niushop_b2c_v4/2004027" class="ns-text-color" target="_blank">《客服配置》</a></div>
			<div class="ns-word-aux">启用后，优先接入Niusohp客服；不启用时，可设置其他端聊天</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">websocket链接：</label>
			<div class="layui-input-block">
				<input type="text" name="socket_url" value="{$config.socket_url ?? ''}" autocomplete="off" class="layui-input ns-len-long">
			</div>
			<div class="ns-word-aux">客服的websocket链接，应用于各端的聊天服务连接，<span class="top-color">不懂勿改</span><a onclick="showDemo()" class="examples ns-text-color">查看示例</a></div>
		</div>
		{/if}
		<div id="other" {if condition="!empty($config.system) && $config.system == 1"} style="display: none" {/if}>
		<div class="layui-form-item top">
			<label class="layui-form-label"><span class="border-left ns-border-color"></span>其他设置</label>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">小程序客服：</label>
			<div class="layui-input-block">
				<input type="radio" name="weapp" value="1" title="启用" {if condition="!empty($config.weapp) && $config.weapp == 1"} checked {/if}>
				<input type="radio" name="weapp" value="0" title="不启用" {if condition="empty($config.weapp) || $config.weapp != 1"} checked  {/if}>
			</div>
			<div class="ns-word-aux">适用于小程序端,启用此设置,接入微信小程序客服</div>
		</div>
	
		<div class="layui-form-item">
			<label class="layui-form-label">H5端客服：</label>
			<div class="layui-input-block">
				<input type="radio" name="open" value="1" title="启用" {if condition="!empty($config.open) && $config.open == 1"} checked {/if}>
				<input type="radio" name="open" value="0" title="不启用" {if condition="empty($config.open) || $config.open != 1"} checked  {/if}>
			</div>
			<div class="ns-word-aux">适用于H5端，启用此设置，接入第三方聊天链接</div>
		</div>
		{if $pc_is_exit}
		<div class="layui-form-item">
			<label class="layui-form-label">PC端客服：</label>
			<div class="layui-input-block">
				<input type="radio" name="open_pc" value="1" title="启用" {if condition="!empty($config.open_pc) && $config.open_pc == 1"} checked {/if}>
				<input type="radio" name="open_pc" value="0" title="不启用" {if condition="empty($config.open_pc) || $config.open_pc != 1"} checked  {/if}>
			</div>
			<div class="ns-word-aux">适用于PC端，启用此设置，接入第三方聊天链接</div>
		</div>
		{/if}
		<div class="layui-form-item">
			<label class="layui-form-label">第三方客服链接：</label>
			<div class="layui-input-block">
				<input type="text" name="open_url" value="{$config.open_url ?? ''}" autocomplete="off" class="layui-input ns-len-long">
			</div>
			<div class="ns-word-aux">第三方聊天链接启用时，必需填写本链接，聊天时跳转至第三方聊天窗口。例如：<a href="https://meiqia.com/zt/livechat?utm_source=tian&utm_medium=baidu&utm_term=pinzhuan" target="_blank" class="ns-text-color">美洽</a>、<a href="https://shang.qq.com/v3/widget.html" target="_blank" class="ns-text-color">腾讯</a>等。</div>
		</div>
		</div>
		<div class="ns-form-row all-box-left">
			<button class="layui-btn ns-bg-color" lay-submit lay-filter="save">保存</button>
		</div>

	</div>
</script>
<script>
	var _system = {if !empty($config.system) && $config.system == 1} 1 {else/} 0 {/if},form,serviceOpen;
	layui.use(['form','carousel'], function() {
		form = layui.form;
		var carousel = layui.carousel;
		repeat_flag = false; //防重复标识
		carousel.render({
		    elem: '#carousel',
			width: '100%',
			arrow: 'always',
			interval: 3500
		});
		form.render();
		
		// 控制客服单选多选
		activeRadio(_system);
		
		form.on('radio(oneRadio)',function(data){
			activeRadio(data.value);
			divClick(data.value);
			refreshArea(serviceOpen)
		})

		function activeRadio(value){
			// 后期扩展可以分为俩个数组分别遍历
			let arr = ['weapp','open','open_pc','open_url'];
			if(value == 1){
				// socket_url
				$("input[name='socket_url']").each(function(i) {
					$(this).removeAttr("disabled").removeClass('layui-disabled');
				});
				arr.forEach(item=>{
					if(item == 'open_url'){
						// 当为输入框
						$("input[name='open_url']").each(function(i) {
						    $(this).attr('disabled', 'disabled').addClass('layui-disabled');
						});
					}else{
						//当为单选框 
						$("input[name='"+ item +"']").each(function(i) {
						    $(this).attr('disabled', 'disabled');
							$(this).next().addClass('layui-radio-disbaled layui-disabled');
						});
					}
				})
			} else {
				// socket_url
				$("input[name='socket_url']").each(function(i) {
				    $(this).attr('disabled', 'disabled').addClass('layui-disabled');
				});
				arr.forEach(item=>{
					if(item == 'open_url'){
						// 当为输入框
						$("input[name='open_url']").each(function(i) {
							$(this).removeAttr("disabled").removeClass('layui-disabled');
						});
					}else{
						// 当为单选框
						$("input[name='"+ item +"']").each(function(i) {
						    $(this).removeAttr('disabled', 'disabled');
							$(this).next().removeClass('layui-radio-disbaled layui-disabled');
						});
					}
				})
			}
		}

		/**
		 * 监听提交
		 */
		form.on('submit(save)', function(data) {
			if (repeat_flag) return false;
			repeat_flag = true;

			$.ajax({
				url: ns.url("shop/config/servicer"),
				data: data.field,
				dataType: 'JSON',
				type: 'POST',
				success: function(res) {
					if (res.code == 0) {
						layer.msg('编辑成功');
						location.reload();
					}else{
						repeat_flag = false;
						layer.msg(res.message);
					}
				}
			});
		});
	});

	function divClick(data){
		if(data == 0){
			$("#other").css("display","block");
		}else {
			$("#other").css("display","none");
		}

		 }
		 
		 function showDemo(){
		     layer.open({
		         title: '查看示例',
		         type: 1,
		         area: ['700px', '660px'],
		          content: '<img style="margin:15px;" src="SHOP_IMG/chat1.png"><img style="margin:15px;" src="SHOP_IMG/chat2.png">'
		     })
		 }
		 
		 function editService(){
		 	serviceOpen	= layer.open({
		 			 title:'客服设置',
		 			 type:1,
		 			 // area: ['1000px', '690px'],
		 			 area:'auto',
					 fixed:true,
					 maxWidth:1000,
					 maxHeight:800,
		 			 content:$("#contentService").html(),
					 success:function(layero,index){
						 form.render();
					 }
		 		 })
		 }
		 
		 
		 
</script>
{/block}